.notification-overlay-container {

    display: block;
    width: 20%;
    

    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;

    transition: height 0.15s;

    
   
}

.notif-panel-container {

    position: relative;
    display: flex;
    width: 100%;
  
    
    background-color: var(--secondary-green);
    border-style:solid;
    border-width: 0.5px;
    border-right: none;
    border-color: var( --primary-green-dark);


    margin-bottom: 0.5rem;

    
}

.notif-vertical-line {
    
    height: inherit;
    width: 0.2rem;
    background-color: green;
    
}



.notif-msg {
    height: 4rem; 
    width: 90%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
 }
 
 .notif-msg-p {
     font-size: 0.8rem;
     white-space: normal; 
     word-wrap: break-word;
     overflow-wrap: break-word;
     width: 100%;
     height: 100%;
     overflow: hidden; 
     display: -webkit-box;
     -webkit-line-clamp: 2; 
     -webkit-box-orient: vertical;
 }



.no-amin {
    animation: slideInFromRight 0.5s ease-out forwards;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%); 
      opacity: 0;
    }
    to {
      transform: translateX(0); 
      opacity: 1;
    }
  }



  /* Phone Resolution */
@media screen and (min-width: 375px ){
    .notification-overlay-container {
        width: 40%;
    }
 
 }
 
 /* Tablet Resolution */
 @media screen and (min-width: 768px ){
    .notification-overlay-container {
        width: 20%;
    }
   
 
 
 }
 
 /* Desktop Resolution */
 @media screen and (min-width: 1080px) {
 
 
 }