.courses-container {
    margin-top: 20px;
  }
  
  .course-card {
    background-color: #2f3d2e;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .course-card button {
    background-color: #1b5e20;
    color: #d2f5a6;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  