.courseOptContainer {
    display: flex;
    align-items: center;
    width: 80vw;
    gap: 1rem;
    justify-content: flex-start;
    background-color: var(--primary-green-light);
    border-radius: 0.7rem;
    padding: 0.8rem;
    margin-bottom: 1rem;

    svg {
        display: block;
        border: none;
        scale: 1.5;
        margin-top: 0.1rem;
        color: black;
    
    }
    p {
        font-size: clamp(0.6rem, 2vw, 1rem);
        flex: 1; /* so it fills space, but doesn't overflow */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    min-width: 373px;
    max-width: 1280px;
    
}


.courseOptContainer .likeContainer {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    min-width: 4rem;
    
    p {
        margin-bottom: 0.2rem;
    }
   
}

.courseOptContainer .viewContainer {
    display: inherit;
    justify-content: center;
}

.courseOptContainer button {
    display: inline-block;
    background: none;
    border: none;
   
}

.iconContainer {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    border-radius: inherit;
    background-color: var(--primary-green-dark);

    svg {color: white;}
}

.viewContainer {
    padding: 0.5rem;
    border-radius: inherit;
    background-color: var(--primary-green-dark);

    p {
        color: white;
    }
    
}

.titleContainer {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .titleContainer p {
    font-size: clamp(0.6rem, 2vw, 1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }