.chart-card {
  flex: 1;
  background-color: var(--secondary-green);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chart-title {
  color: var(--primary-green);
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.chart-container {
  height: 250px;
  width: 90%;
  margin: 0 auto;
}
