.sort-container {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.sort-option {
  color: var(--primary-green-light); /* Inactive state */
  transition: color 0.3s ease, transform 0.2s ease;
}

.sort-option:hover {
  color: var(--primary-green-dark); /* Darken on hover */
  transform: scale(1.02); /* Slight pop effect */
  filter: brightness(1.8);
}

.sort-option.active {
  color: var(--primary-green-dark); /* Highlight active selection */
}

