.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-green); 
  color: white;
  height: 100vh;
  width: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 20px;
  color: var(--primary-green);
}

.logo-circle {
  background-color: var(--primary-green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; 
}

.logo-circle:hover {
  transform: rotate(15deg); 
}


.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  color: var(--primary-green); 
  text-decoration: none;
  margin-bottom: 5px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--primary-green-light);
  transform: scale(1.1);
}

.active-indicator {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: var(--primary-green); 
}

.logout {
  margin-top: auto;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--primary-green); 
  text-decoration: none;
}

.logout:hover {
  background-color: var(--primary-green-light);
  transform: scale(1.1);
}
