.stats-cards-wrapper {
  display: flex;
  gap: 20px; /* Space between cards */
  flex: 1;
}

.greeting-card, .stat-card {
  background-color: #e7efea;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  flex: 1; /* Allows the card to take some space */
}

.greeting-card h1 {
  color: #426751;
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
}

.greeting-card p, .stat-card p {
  color: #666;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 2;
}

.stat-card div {
  color: #426751;
  font-size: 36px;
  font-weight: bold;
}
