.stats-cards-wrapper {
  display: flex;
  gap: 20px; 
  flex: 1;
}

.greeting-card, .stat-card {
  background-color: var(--secondary-green);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  flex: 1; 
}
.greeting-card h1 {
  color: var(--primary-green);
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
}

.greeting-card p, .stat-card p {
  color: var(--text-subtle);
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 2;
}

.stat-card div {
  color: var(--primary-green);
  font-size: 36px;
  font-weight: bold;
}
