html, body {
  overflow-x: hidden;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  width: 100vw;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 0;
  margin-left: 1.5rem; /* Why is the margin so huge? */
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.page-title {
  font-size: 3.0rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  color: var(--primary-green);
}

.dashboard-container {
  background-color: var(--background-color);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: calc(100vw - 80px);
  overflow: hidden;
}

.top-row, .bottom-row {
  display: flex;
  width: 100%;
  gap: 20px;
}

.admin-features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

#root {
  max-width: 1280px;
  padding: 0.5rem;
  background-color: var(--background-color);
}
