:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Theme */
  --background-color: #f0f5f0;
  --primary-green: #426751;
  --secondary-green: #e7efea;
  --text-subtle: #666666;

  --primary-green-dark: #375643;       /* For hover states, active elements */
  --primary-green-light: rgba(66, 103, 81, 0.1);
}
